<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- linking the layout.css file  -->
        
        <link rel="stylesheet" href="/css/layout.css">
        
        <!-- css for _header & _footer  --> 
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%-style%>
    </head>

    <body>
        
        <!-- including _header.ejs file -->
        <%- include('_header'); -%>
        
        <!-- this body contains the variable part which ever the url we call bady changes according to that 
        ex: if i call http://localhost:8000/users/profile so i will give me the page of user_profile.ejs in body -->
        <% if(flash.success && flash.success.length > 0){ %>
            <h5>
                <%= flash.success %>
            </h5>    
        <% } %>
        <main id="layout-main">
            <%- body %>
        </main>
        <!-- including _footer.ejs file -->
        <%- include('_footer'); -%>
        
        <%-script%>
    </body>
</html>