<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        
        <!-- linking the layout.css file  -->
        
        <link rel="stylesheet" href="/css/layout.css">
        
        <!-- css for _header & _footer  --> 
        <link rel="stylesheet" href="/css/header.css">
        <link rel="stylesheet" href="/css/footer.css">
        <%-style%>
    </head>

    <body>
        
        <!-- including _header.ejs file -->
        <%- include('_header'); -%>
        
        <!-- this body contains the variable part which ever the url we call bady changes according to that 
        ex: if i call http://localhost:8000/users/profile so i will give me the page of user_profile.ejs in body -->
       
        <main id="layout-main">
            <%- body %>
        </main>
        <!-- including _footer.ejs file -->
        <%- include('_footer'); -%>
        
        <%-script%>

        <script>
            <%if(flash.success && flash.success.length > 0){%>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.success %>",
                    type: 'success',
                    layout: 'topRight',
                    timeout: 1500
                    
                }).show();    
            <%} %>

            <% if (flash.error && flash.error.length > 0) {%>
                new Noty({
                    theme: 'relax',
                    text: "<%= flash.error %>",
                    type: 'error',
                    layout: 'topRight',
                    timeout: 1500
                    
                }).show();    
            <%} %>
        </script>
        
    </body>
</html>